<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Giới Thiệu</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../assets/img/logo/logo5.png"
    />

    <!-- CSS here -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/owl.carousel.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../assets/css/slicknav.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/gijgo.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/animate.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/magnific-popup.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/fontawesome-all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/themify-icons.css"
    />
    <link rel="stylesheet" type="text/css" href="../assets/css/slick.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/nice-select.css"
    />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
  </head>
  <body>
    <!--? Preloader Start -->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
            <img src="../assets/img/logo/logo5.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- Preloader Start -->
    <header>
      <!--? Header Start -->
      <div class="header-area header-transparent">
        <div class="main-header header-sticky">
          <div class="container-fluid">
            <div class="row align-items-center">
              <!-- Logo -->
              <div class="col-xl-2 col-lg-2 col-md-1">
                <div class="logo">
                  <a href="/"
                    ><img src="../assets/img/logo/logo5.png" alt="" 
                  /></a>
                </div>
              </div>
              <div class="col-xl-10 col-lg-10 col-md-10">
                <div
                  class="menu-main d-flex align-items-center justify-content-end"
                >
                  <!-- Main-menu -->
                  <div class="main-menu f-right d-none d-lg-block">
                    <nav>
                      <ul id="navigation">
                        <li><a href="/">Trang Chủ</a></li>
                        <li><a href="/about">Giới Thiệu</a></li>
                        <li><a href="/login">Món Ăn</a></li>
                        <li>
                          <a href="/contact">Hỗ Trợ</a>
                          <!-- <ul class="submenu">
                            <li><a href="blog.html">Hỗ trợ</a></li>
                            <li>
                              <a href="blog_details.html">Blog Details</a>
                            </li>
                            <li><a href="elements.html">Element</a></li>
                          </ul> -->
                        </li>
                        <li><a href="#">Về Chúng Tôi</a></li>
                      </ul>
                    </nav>
                  </div>
                  <div class="header-right-btn f-right d-none d-lg-block ml-20">
                    <a href="/login" class="border-btn header-btn"
                      >Đăng Nhập</a
                    >
                  </div>
                </div>
              </div>
              <!-- Mobile Menu -->
              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header End -->
    </header>
    <main>
      <!--? Hero Start -->
      <div class="slider-area">
        <div class="slider-height2 d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="hero-cap hero-cap2">
                  <h2>Giới Thiệu</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero End -->
      <!--? About-2 Area Start -->
      <div class="about-area2 section-padding30">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
              <!-- about-img -->
              <div class="about-img">
                <img src="../assets/img/gallery/ff2.jpg" alt="" />
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="about-caption mb-50">
                <!-- Section Tittle -->
                <div class="section-tittle mb-35">
                  <span> Order Food App</span>
                  <h2>THỨC ĂN NHANH Ở KỶ NGUYÊN MỚI!</h2>
                </div>
                <p class="pera-top">
                    Việc gọi món ăn trực tiếp đã không còn xa lạ ở thời đại hiện nay. Ở Order Food App, việc đặt thức ăn nhanh không còn chậm hay gián đoạn nữa, vì ở đây có ứng dụng giúp khách có thể gọi món trực tiếp trên chiếc điện thoại của mình. Sau khi hoàn thành việc gọi món, bên chúng tôi sẽ làm những món ăn mà khách hàng đã gọi, và việc của khách hàng là tận hưởng thức ăn và sẽ cảm nhận được sự hòa quyện từng hương vị đặc trưng của từng loại món ăn.
                    Tỉ mỉ chọn lọc ra những nguyên liệu, cẩn thận chăm chút từng cách chế biến và đặt trọn tâm huyết vào món ăn, Order Food App mang đến cho khách hàng sự cảm nhận thực nhất về những món ăn mà chúng tôi làm ra.
                </p>

                <p class="mb-65 pera-bottom">
                    At Order Food App, customers who are passionate about fast food (also known as Fast Food) will feel the blend of each specific flavor of each dish. Carefully selecting the ingredients, carefully taking care of each way of processing and putting all enthusiasm into the food, Order Food App gives customers the most authentic feeling of the dishes we make.


                </p>
                <a href="about.html" class="border-btn">Xem Thêm</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--? Booking Room Start-->
      <div
        class="booking-area section-bg pt-120 pb-130"
        data-background="../assets/img/gallery/ff3.png"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">
              <!-- Section Tittle -->
              <div class="section-tittle text-center mb-40">
                <!-- <span>ĐẶT CHỖ NGAY!</span> -->
                <h2>ĐẶT CHỖ NGAY!</h2>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <form action="#">
                <div
                  class="booking-wrap d-flex justify-content-between align-items-center"
                >
                  <!-- Single Select Box -->
                  <div class="single-select-box mb-30">
                    <div class="select-this">
                      <div class="select-itms">
                        <div class="select-icon">
                          <i class="ti-user"></i>
                        </div>
                        <select name="select" id="select1">
                          <option value="">1 người</option>
                          <option value="">2 người</option>
                          <option value="">3 người</option>
                          <option value="">4 người</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- select in date -->
                  <div class="single-select-box mb-30">
                    <div class="boking-datepicker">
                      <input id="datepicker1" placeholder="Ngày đặt" />
                    </div>
                  </div>
                  <!-- Single Select Box -->
                  <div class="single-select-box mb-30">
                    <div class="boking-datepicker">
                      <input id="timepicker" placeholder="Thời gian" />
                    </div>
                  </div>
                  <!-- Single Select Box -->
                  <div class="single-select-box mb-30">
                    <button class="btn select-btn">ĐẶT NGAY</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Booking Room End-->
      <!--? About Area Start -->
      <div class="about-low-area section-padding30">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
              <div class="about-caption mb-50">
                <!-- Section Tittle -->
                <div class="section-tittle mb-35">
                  <span>Món ăn được yêu thích</span>
                  <h2>Những món ăn tại Order Food App được khách hàng yêu thích</h2>
                </div>
                <p>
                  Trong nhịp sống hiện đại, có những lúc guồng quay công việc khiến chúng ta không còn có thời gian chăm sóc bản thân, đơn giản nhất là bữa ăn. Điều này tạo điều kiện cho sự phát triển mạnh mẽ của các chuỗi cửa hàng thức ăn nhanh – fast food. Không chỉ người lớn, đây còn là loại hình ẩm thực hấp dẫn đối với trẻ em. Vậy những thương hiệu fast food nào được thực khách ủng hộ trên địa bàn thủ đô? Hãy cùng khám phá và tìm câu trả lời.
                </p>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                  <div class="single-caption mb-20">
                    <div class="caption-icon">
                      <span class="flaticon-restaurant"></span>
                    </div>
                    <div class="caption">
                      <p>Đầu bếp có nhiều năm kinh nghiệm thực hiện</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                  <div class="single-caption mb-20">
                    <div class="caption-icon">
                      <span class="flaticon-tools-and-utensils-1"></span>
                    </div>
                    <div class="caption">
                      <p>Luôn sẵn có</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                  <div class="single-caption mb-20">
                    <div class="caption-icon">
                      <span class="flaticon-hat"></span>
                    </div>
                    <div class="caption">
                      <p>Luôn nóng hổi, giòn tan, chuẩn "FASTFOOD"</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                  <div class="single-caption mb-20">
                    <div class="caption-icon">
                      <span class="flaticon-restaurant"></span>
                    </div>
                    <div class="caption">
                      <p>Chất lượng thức ăn được chọn lọc kỹ lưỡng</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <!-- about-img -->
              <div class="about-img">
                <img src="../assets/img/gallery/ff4.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- About Area End -->
      <!--? About-3 Start -->
      <div
        class="about-area3 pt-180 pb-170 section-bg"
        data-background="../assets/img/gallery/section_bg03.png"
      >
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-xl-6 col-lg-6 col-md-9 col-sm-11">
              <!-- Section Tittle -->
              <div class="section-tittle section-tittle2 mb-40">
                <span>Đăng ký nhận thông tin khuyến mãi</span>
                <h2>Khuyến mãi tháng 12</h2>
                <p>
                  MỪNG KHAI TRƯƠNG QUÁN VÀO THÁNG 12, MỌI THỨC ĂN TRONG MENU ĐƯỢC GIẢM 50%
                </p>
              </div>
              <!--Hero form -->
              <form action="#" class="search-box">
                <div class="input-form">
                  <input type="text" placeholder="Your Email" />
                </div>
                <div class="search-form">
                  <button>ĐĂNG KÝ NGAY</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- About-3 End -->
      <!-- About-2 Area End -->
      <!--? Our Services Start -->
      <div class="our-services section-padding30">
        <div class="container">
          <div class="row justify-content-sm-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">
              <!-- Section Tittle -->
              <div class="section-tittle text-center mb-70">
                <span>Ở CHÚNG TÔI</span>
                <h2>CHÚNG TÔI CÓ</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="single-services text-center mb-30">
                <div class="services-ion">
                  <span class="flaticon-restaurant"></span>
                </div>
                <div class="services-cap">
                  <h5><a href="#">Đầu bếp có nhiều kinh nghiệm</a></h5>
                  <p>
                    Đầu bếp đặt tâm huyết vào từng món ăn, giúp cho món ăn đạt chất lượng tốt nhất.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="single-services active text-center mb-30">
                <div class="services-ion">
                  <span class="flaticon-tools-and-utensils-1"></span>
                </div>
                <div class="services-cap">
                  <h5><a href="#">Chất lượng món ăn</a></h5>
                  <p>
                    Những nguyên liệu để thực hiện món ăn được chọn lọc một cách kỹ lưỡng. Chất lượng được đặt lên hàng đầu tại Order Food App.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="single-services text-center mb-30">
                <div class="services-ion">
                  <span class="flaticon-restaurant"></span>
                </div>
                <div class="services-cap">
                  <h5><a href="#">Đáp ứng nhu cầu khách hàng</a></h5>
                  <p>
                    Chúng tôi luôn luôn lắng nghe nhu cầu khách hàng khi gọi món ăn, và sẽ đáp ứng nhu cầu của khách hàng
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Our Services End -->
    </main>
    <footer>
      <!--? Footer Start-->
      <div
        class="footer-area section-bg"
        data-background="../assets/img/gallery/section_bg02.png"
      >
        <div class="container">
          <div class="footer-top footer-padding">
            <div class="row d-flex justify-content-between">
              <div class="col-xl-4 col-lg-4 col-md-5 col-sm-8">
                <div class="single-footer-caption mb-50">
                  <!-- logo -->
                  <div class="footer-logo">
                    <a href="/"
                      ><img src="../assets/img/logo/logo5.png" alt=""
                    /></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-5 col-sm-6">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Đường dẫn</h4>
                    <ul>
                      <li><a href="/">Trang Chủ</a></li>
                      <li><a href="/about">Giới Thiệu</a></li>
                      <li><a href="#">Món Ăn</a></li>
                      <li><a href="/contact">Hỗ Trợ</a></li>
                      <li><a href="#">Về Chúng Tôi</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-5 col-sm-6">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Admin</h4>
                    <ul>
                     
                      <li><a href="/login">Đăng nhập</a></li>
                      
                      
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Instagram -->
              <div class="col-xl-4 col-lg-4 col-md-5 col-sm-7">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Hình ảnh tiêu biểu</h4>
                  </div>
                  <div class="instagram-gellay">
                    <ul class="insta-feed">
                      <li>
                        <a href="#"
                          ><img
                            src="../assets/img/gallery/ff2.jpg"
                            alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#"
                          ><img
                            src="../assets/img/gallery/ff4.png"
                            alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#"
                          ><img
                            src="../assets/img/gallery/ff5.png"
                            alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#"
                          ><img
                            src="../assets/img/gallery/ff6.png"
                            alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#"
                          ><img
                            src="../assets/img/gallery/ff7.png"
                            alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#"
                          ><img
                            src="../assets/img/gallery/ff8.jpg"
                            alt=""
                        /></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-xl-9 col-lg-8">
                <div class="footer-copy-right">
                  <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    Order Food App | Chúng tôi luôn lắng nghe bạn
                    <i class="fa fa-heart" aria-hidden="true"></i> và
                    <a href="https://colorlib.com" target="_blank">Cảm ơn và hẹn gặp lại</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  </p>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4">
                <!-- Footer Social -->
                <div class="footer-social f-right">
                  <span>Theo dõi</span>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fas fa-globe"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top">
      <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="../assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="../assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="../assets/js/wow.min.js"></script>
    <script src="../assets/js/animated.headline.js"></script>
    <script src="../assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="../assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="../assets/js/jquery.nice-select.min.js"></script>
    <script src="../assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="../assets/js/contact.js"></script>
    <script src="../assets/js/jquery.form.js"></script>
    <script src="../assets/js/jquery.validate.min.js"></script>
    <script src="../assets/js/mail-script.js"></script>
    <script src="../assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./assets/js/plugins.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
