<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trang Chủ</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400italic" rel="stylesheet" type="text/css">
    <link href="./css/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1><%= title %></h1>

    <a href="/login">Login</a>
    <a href="/users">List- user</a> 
    <a href="/about">About</a>
    <a href="/user">User</a>
    <a href="/product">Product</a>
    <a href="/hoadon">Hóa đơn</a>
    <a href="/hoadonchitiet">Hóa đơn chi tiết</a>
    <a href="/loaiproduct">Loại sản phẩm</a>
    <a href="/edituser">Edit User</a>
    <a href="/editmonan">Edit Món Ăn</a>
    <a href="/editloaimonan">Edit Loại Món Ăn</a>
    <a href="/edithoadon">Edit Hóa Đơn</a>
    <a href="/deletemonan">Xóa Món Ăn</a> -->
<!-- </body> -->
<!-- </html> -->

<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Order Food App | Trang Chủ </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="manifest" href="site.webmanifest" /> -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../assets/img/logo/logo5.png"
    />

    <!-- CSS here -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../assets/css/slicknav.css" />
    <link rel="stylesheet" href="../assets/css/flaticon.css" />
    <link rel="stylesheet" href="../assets/css/gijgo.css" />
    <link rel="stylesheet" href="../assets/css/animate.min.css" />
    <link rel="stylesheet" href="../assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="../assets/css/themify-icons.css" />
    <link rel="stylesheet" href="../assets/css/slick.css" />
    <link rel="stylesheet" href="../assets/css/nice-select.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <!--? Preloader Start -->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
            <img src="../assets/img/logo/logo5.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- Preloader Start -->
    <header>
      <!--? Header Start -->
      <div class="header-area header-transparent">
        <div class="main-header header-sticky">
          <div class="container-fluid">
            <div class="row align-items-center">
              <!-- Logo -->
              <div class="col-xl-2 col-lg-2 col-md-1">
                <div class="logo">
                  <a href="/"
                    ><img src="../assets/img/logo/logo5.png" alt=""
                  /></a>
                </div>
              </div>
              <div class="col-xl-10 col-lg-10 col-md-10">
                <div
                  class="menu-main d-flex align-items-center justify-content-end"
                >
                  <!-- Main-menu -->
                  <div class="main-menu f-right d-none d-lg-block">
                    <nav>
                      <ul id="navigation">
                        <li><a href="/">Trang Chủ</a></li>
                        <li><a href="/about">Giới Thiệu</a></li>
                        <li><a href="/login">Món Ăn</a></li>
                        <li>
                          <a href="/contact">Hỗ Trợ</a>
                          <!-- <ul class="submenu">
                            <li><a href="blog.html">Blog</a></li>
                            <li>
                              <a href="blog_details.html">Blog Details</a>
                            </li>
                            <li><a href="elements.html">Element</a></li>
                          </ul> -->
                        </li>
                        <li><a href="#">Về chúng tôi</a></li>
                        <li><a href="/login">Đăng nhập</a></li>
                      </ul>
                    </nav>
                  </div>
                  <div class="header-right-btn f-right d-none d-lg-block ml-20">
                    <a href="/login" class="border-btn header-btn"
                      >Đăng Nhập</a
                    >
                  </div>
                </div>
              </div>
              <!-- Mobile Menu -->
              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header End -->
    </header>
    <main>
      <!--? slider Area Start-->
      <div class="slider-area">
        <div class="slider-active">
          <!-- Single Slider -->
          <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col-xl-9 col-lg-9 col-md-9">
                  <div class="hero__caption">
                    <span data-animation="fadeInLeft" data-delay=".2s"
                      >Order Food App</span
                    >
                    <h1 data-animation="fadeInLeft" data-delay=".4s">
                      GỌI MÓN TRỰC TIẾP TẠI ORDER FOOD APP
                    </h1>
                    <p data-animation="fadeInLeft" data-delay=".6s">
                      Tại OrderFoodApp, khách hàng gọi món trực tiếp thông qua ứng dụng chiếc điện thoại. Giúp sự tiện lợi cho khách hàng được tăng cao.
                    </p>
                    <!-- Hero-btn -->
                    <div class="hero__btn">
                      <a
                        href="/about"
                        class="btn hero-btn"
                        data-animation="fadeInLeft"
                        data-delay=".8s"
                        >Xem thêm</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Slider -->
          <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col-xl-9 col-lg-9 col-md-9">
                  <div class="hero__caption">
                    <span data-animation="fadeInLeft" data-delay=".2s"
                      >Món ăn được yêu thích</span
                    >
                    <h1 data-animation="fadeInLeft" data-delay=".4s">
                      Những món ăn tại Order Food App được khách hàng yêu thích
                    </h1>
                    <p data-animation="fadeInLeft" data-delay=".6s">
                      Trong nhịp sống hiện đại, có những lúc guồng quay công việc khiến chúng ta không còn có thời gian chăm sóc bản thân, đơn giản nhất là bữa ăn. Điều này tạo điều kiện cho sự phát triển mạnh mẽ của các chuỗi cửa hàng thức ăn nhanh – fast food. Không chỉ người lớn, đây còn là loại hình ẩm thực hấp dẫn đối với trẻ em. Vậy những thương hiệu fast food nào được thực khách ủng hộ trên địa bàn thủ đô? Hãy cùng khám phá và tìm câu trả lời.
                    </p>
                    <!-- Hero-btn -->
                    <div class="hero__btn">
                      <a
                        href="/about"
                        class="btn hero-btn"
                        data-animation="fadeInLeft"
                        data-delay=".8s"
                        >Xem ngay</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- slider Area End-->
      <!--? About Area Start -->
      <div class="about-low-area section-padding30">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
              <div class="about-caption mb-50">
                <!-- Section Tittle -->
                <div class="section-tittle mb-35">
                  <span>Món ăn được yêu thích</span>
                  <h2>Những món ăn tại Order Food App được khách hàng yêu thích</h2>
                </div>
                <p>
                  Trong nhịp sống hiện đại, có những lúc guồng quay công việc khiến chúng ta không còn có thời gian chăm sóc bản thân, đơn giản nhất là bữa ăn. Điều này tạo điều kiện cho sự phát triển mạnh mẽ của các chuỗi cửa hàng thức ăn nhanh – fast food. Không chỉ người lớn, đây còn là loại hình ẩm thực hấp dẫn đối với trẻ em. Vậy những thương hiệu fast food nào được thực khách ủng hộ trên địa bàn thủ đô? Hãy cùng khám phá và tìm câu trả lời.

                </p>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                  <div class="single-caption mb-20">
                    <div class="caption-icon">
                      <span class="flaticon-restaurant"></span>
                    </div>
                    <div class="caption">
                      <p>Đầu bếp có nhiều năm kinh nghiệm thực hiện</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                  <div class="single-caption mb-20">
                    <div class="caption-icon">
                      <span class="flaticon-tools-and-utensils-1"></span>
                    </div>
                    <div class="caption">
                      <p>Luôn sẵn có</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                  <div class="single-caption mb-20">
                    <div class="caption-icon">
                      <span class="flaticon-hat"></span>
                    </div>
                    <div class="caption">
                      <p>Ut enim ad minim veniam, quis nostrud exer.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                  <div class="single-caption mb-20">
                    <div class="caption-icon">
                      <span class="flaticon-restaurant"></span>
                    </div>
                    <div class="caption">
                      <p>Chất lượng thức ăn được chọn lọc kỹ lưỡng</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <!-- about-img -->
              <div class="about-img">
                <img src="../assets/img/gallery/ff9.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- About Area End -->
      <!--? gallery Products Start -->
      <section class="gallery-area fix">
        <!-- Gallery Top Start -->
        <div
          class="gallery-top section-bg pt-90 pb-40"
          data-background="assets/img/gallery/section_bg01.png"
        >
          <div class="container">
            <div class="row justify-content-center">
              <div class="cl-xl-7 col-lg-8 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-70">
                  <span>MENU</span>
                  <h2>OrderFoodApp</h2>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="properties__button">
                <!--Nav Button  -->
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a
                      class="nav-item nav-link active"
                      id="nav-home-tab"
                      data-toggle="tab"
                      href="#nav-home"
                      role="tab"
                      aria-controls="nav-home"
                      aria-selected="true"
                      >Đặc biệt</a
                    >
                    <a
                      class="nav-item nav-link"
                      id="nav-profile-tab"
                      data-toggle="tab"
                      href="#nav-profile"
                      role="tab"
                      aria-controls="nav-profile"
                      aria-selected="false"
                    >
                      Sáng</a
                    >
                    <a
                      class="nav-item nav-link"
                      id="nav-contact-tab"
                      data-toggle="tab"
                      href="#nav-contact"
                      role="tab"
                      aria-controls="nav-contact"
                      aria-selected="false"
                    >
                      Trưa
                    </a>
                    <a
                      class="nav-item nav-link"
                      id="nav-dinner-tab"
                      data-toggle="tab"
                      href="#nav-dinner"
                      role="tab"
                      aria-controls="nav-dinner"
                      aria-selected="false"
                    >
                      Tối
                    </a>
                  </div>
                </nav>
                <!--End Nav Button  -->
              </div>
            </div>
          </div>
        </div>
        <!-- Gallery Top End -->
        <!-- Gallery Bottom Start -->
        <div class="container-fluid p-0">
          <!-- Nav Card -->
          <div class="tab-content" id="nav-tabContent">
            <!-- card one -->
            <div
              class="tab-pane fade show active"
              id="nav-home"
              role="tabpanel"
              aria-labelledby="nav-home-tab"
            >
              <div class="row no-gutters">
                <div class="col-lg-5 col-md-6 col-sm-6">
                  <div class="gallery-box">
                    <div class="single-gallery">
                      <div
                        class="gallery-img big-img"
                        style="
                          background-image: url(../assets/img/gallery/ff3.jpg);
                        "
                      ></div>
                      <div class="g-caption">
                        <span>Giá 43k </span>
                        <h4>Khoai Tây Đài Loan</h4>
                        <p>Đậm vị sốt, ghiền khoai tây.</p>
                        <a href="#" class="btn order-btn">Đặt Ngay</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="gallery-box">
                    <div class="single-gallery">
                      <div
                        class="gallery-img big-img"
                        style="
                          background-image: url(../assets/img/gallery/ff2.jpg);
                        "
                      ></div>
                      <div class="g-caption">
                        <span>Giá 55k</span>
                        <h4>Burger Vị Selton</h4>
                        <p>Burger kẹp thịt chuẩn vị bò Mỹ.</p>
                        <a href="#" class="btn order-btn">Đặt Ngay</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-12">
                  <div class="row no-gutters">
                    <div class="col-lg-12 col-md-6 col-sm-6">
                      <div class="gallery-box">
                        <div class="single-gallery">
                          <div
                            class="gallery-img smoll-img"
                            style="
                              background-image: url(../assets/img/gallery/ff5.jpg);
                            "
                          ></div>
                          <div class="g-caption">
                            <span>Giá 44k</span>
                            <h4> Hamburger Đĩa Bay</h4>
                            <p>Đĩa bay với nhân bò băm ngon.</p>
                            <a href="#" class="btn order-btn">Đặt Ngay</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-6">
                      <div class="gallery-box">
                        <div class="single-gallery">
                          <div
                            class="gallery-img smoll-img"
                            style="
                              background-image: url(../assets/img/gallery/ff6.png);
                            "
                          ></div>
                          <div class="g-caption">
                            <span>Giá 35k</span>
                            <h4>Hotdog Pizza</h4>
                            <p>Đậm vị sốt cà được nấu cùng phô mai</p>
                            <a href="#" class="btn order-btn">Đặt Ngay</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Card two -->
            <div
              class="tab-pane fade"
              id="nav-profile"
              role="tabpanel"
              aria-labelledby="nav-profile-tab"
            >
              <div class="row no-gutters">
                <div class="col-lg-5 col-md-6 col-sm-6">
                  <div class="gallery-box">
                    <div class="single-gallery">
                      <div
                        class="gallery-img big-img"
                        style="
                          background-image: url(assets/img/gallery/gallery2.png);
                        "
                      ></div>
                      <div class="g-caption">
                        <span>$25</span>
                        <h4>Delicious Food</h4>
                        <p>Ut enim ad minim veniam quis nostr.</p>
                        <a href="#" class="btn order-btn">Order Now</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="gallery-box">
                    <div class="single-gallery">
                      <div
                        class="gallery-img big-img"
                        style="
                          background-image: url(assets/img/gallery/gallery1.png);
                        "
                      ></div>
                      <div class="g-caption">
                        <span>$25</span>
                        <h4>Delicious Food</h4>
                        <p>Ut enim ad minim veniam quis nostr.</p>
                        <a href="#" class="btn order-btn">Order Now</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-12">
                  <div class="row no-gutters">
                    <div class="col-lg-12 col-md-6 col-sm-6">
                      <div class="gallery-box">
                        <div class="single-gallery">
                          <div
                            class="gallery-img smoll-img"
                            style="
                              background-image: url(assets/img/gallery/gallery3.png);
                            "
                          ></div>
                          <div class="g-caption">
                            <span>$25</span>
                            <h4>Delicious Food</h4>
                            <p>Ut enim ad minim veniam quis nostr.</p>
                            <a href="#" class="btn order-btn">Order Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-6">
                      <div class="gallery-box">
                        <div class="single-gallery">
                          <div
                            class="gallery-img smoll-img"
                            style="
                              background-image: url(assets/img/gallery/gallery4.png);
                            "
                          ></div>
                          <div class="g-caption">
                            <span>$25</span>
                            <h4>Delicious Food</h4>
                            <p>Ut enim ad minim veniam quis nostr.</p>
                            <a href="#" class="btn order-btn">Order Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Card three -->
            <div
              class="tab-pane fade"
              id="nav-contact"
              role="tabpanel"
              aria-labelledby="nav-contact-tab"
            >
              <div class="row no-gutters">
                <div class="col-lg-5 col-md-6 col-sm-6">
                  <div class="gallery-box">
                    <div class="single-gallery">
                      <div
                        class="gallery-img big-img"
                        style="
                          background-image: url(assets/img/gallery/gallery1.png);
                        "
                      ></div>
                      <div class="g-caption">
                        <span>$25</span>
                        <h4>Delicious Food</h4>
                        <p>Ut enim ad minim veniam quis nostr.</p>
                        <a href="#" class="btn order-btn">Order Now</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="gallery-box">
                    <div class="single-gallery">
                      <div
                        class="gallery-img big-img"
                        style="
                          background-image: url(assets/img/gallery/gallery2.png);
                        "
                      ></div>
                      <div class="g-caption">
                        <span>$25</span>
                        <h4>Delicious Food</h4>
                        <p>Ut enim ad minim veniam quis nostr.</p>
                        <a href="#" class="btn order-btn">Order Now</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-12">
                  <div class="row no-gutters">
                    <div class="col-lg-12 col-md-6 col-sm-6">
                      <div class="gallery-box">
                        <div class="single-gallery">
                          <div
                            class="gallery-img smoll-img"
                            style="
                              background-image: url(assets/img/gallery/gallery3.png);
                            "
                          ></div>
                          <div class="g-caption">
                            <span>$25</span>
                            <h4>Delicious Food</h4>
                            <p>Ut enim ad minim veniam quis nostr.</p>
                            <a href="#" class="btn order-btn">Order Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-6">
                      <div class="gallery-box">
                        <div class="single-gallery">
                          <div
                            class="gallery-img smoll-img"
                            style="
                              background-image: url(assets/img/gallery/gallery4.png);
                            "
                          ></div>
                          <div class="g-caption">
                            <span>$25</span>
                            <h4>Delicious Food</h4>
                            <p>Ut enim ad minim veniam quis nostr.</p>
                            <a href="#" class="btn order-btn">Order Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Card Four -->
            <div
              class="tab-pane fade"
              id="nav-dinner"
              role="tabpanel"
              aria-labelledby="nav-dinner"
            >
              <div class="row no-gutters">
                <div class="col-lg-5 col-md-6 col-sm-6">
                  <div class="gallery-box">
                    <div class="single-gallery">
                      <div
                        class="gallery-img big-img"
                        style="
                          background-image: url(assets/img/gallery/gallery3.png);
                        "
                      ></div>
                      <div class="g-caption">
                        <span>$25</span>
                        <h4>Delicious Food</h4>
                        <p>Ut enim ad minim veniam quis nostr.</p>
                        <a href="#" class="btn order-btn">Order Now</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="gallery-box">
                    <div class="single-gallery">
                      <div
                        class="gallery-img big-img"
                        style="
                          background-image: url(assets/img/gallery/gallery4.png);
                        "
                      ></div>
                      <div class="g-caption">
                        <span>$25</span>
                        <h4>Delicious Food</h4>
                        <p>Ut enim ad minim veniam quis nostr.</p>
                        <a href="#" class="btn order-btn">Order Now</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-12">
                  <div class="row no-gutters">
                    <div class="col-lg-12 col-md-6 col-sm-6">
                      <div class="gallery-box">
                        <div class="single-gallery">
                          <div
                            class="gallery-img smoll-img"
                            style="
                              background-image: url(assets/img/gallery/gallery1.png);
                            "
                          ></div>
                          <div class="g-caption">
                            <span>$25</span>
                            <h4>Delicious Food</h4>
                            <p>Ut enim ad minim veniam quis nostr.</p>
                            <a href="#" class="btn order-btn">Order Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-6">
                      <div class="gallery-box">
                        <div class="single-gallery">
                          <div
                            class="gallery-img smoll-img"
                            style="
                              background-image: url(assets/img/gallery/gallery2.png);
                            "
                          ></div>
                          <div class="g-caption">
                            <span>$25</span>
                            <h4>Delicious Food</h4>
                            <p>Ut enim ad minim veniam quis nostr.</p>
                            <a href="#" class="btn order-btn">Order Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Nav Card -->
        </div>
        <!-- Gallery Bottom End -->
      </section>
      <!-- gallery Products End -->
      <!--? About-2 Area Start -->
      <div class="about-area2 section-padding30">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
              <!-- about-img -->
              <div class="about-img">
                <img src="../assets/img/gallery/ff2.jpg" alt="" />
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="about-caption mb-50">
                <!-- Section Tittle -->
                <div class="section-tittle mb-35">
                  <span>Order Food App </span>
                  <h2>Chúng tôi cung cấp chất lượng món ăn cho bạn! Hãy thưởng thức chúng</h2>
                </div>
                <p class="pera-top">
                  Những nguyên liệu để thực hiện món ăn được chọn lọc một cách kỹ lưỡng. Chất lượng được đặt lên hàng đầu tại Order Food App.

                </p>

                <p class="mb-65 pera-bottom">
                  Chúng tôi luôn luôn lắng nghe nhu cầu khách hàng khi gọi món ăn, và sẽ đáp ứng nhu cầu của khách hàng

                </p>
                <a href="/about" class="border-btn">Xem thêm</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- About-2 Area End -->
      <!--? Booking Room Start-->
      <div
        class="booking-area section-bg pt-120 pb-130"
        data-background="../assets/img/gallery/ff3.png"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">
              <!-- Section Tittle -->
              <div class="section-tittle text-center mb-40">
                <!-- <span>About Our Restaurant</span> -->
                <h2>ĐẶT CHỖ NGAY!</h2>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <form action="#">
                <div
                  class="booking-wrap d-flex justify-content-between align-items-center"
                >
                  <!-- Single Select Box -->
                  <div class="single-select-box mb-30">
                    <div class="select-this">
                      <div class="select-itms">
                        <div class="select-icon">
                          <i class="ti-user"></i>
                        </div>
                        <select name="select" id="select1">
                          <option value="">1 người</option>
                          <option value="">2 người</option>
                          <option value="">3 người</option>
                          <option value="">4 người</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- select in date -->
                  <div class="single-select-box mb-30">
                    <div class="boking-datepicker">
                      <input id="datepicker1" placeholder="Ngày đặt" />
                    </div>
                  </div>
                  <!-- Single Select Box -->
                  <div class="single-select-box mb-30">
                    <div class="boking-datepicker">
                      <input id="timepicker" placeholder="Thời gian" />
                    </div>
                  </div>
                  <!-- Single Select Box -->
                  <div class="single-select-box mb-30">
                    <button class="btn select-btn">ĐẶT NGAY</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Booking Room End-->
      <!--? Our Services Start -->
      <div class="our-services section-padding30">
        <div class="container">
          <div class="row justify-content-sm-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">
              <!-- Section Tittle -->
              <div class="section-tittle text-center mb-70">
                <span>Order Food App</span>
                <h2>Dịch vụ chúng tôi</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="single-services text-center mb-30">
                <div class="services-ion">
                  <span class="flaticon-restaurant"></span>
                </div>
                <div class="services-cap">
                  <h5><a href="#">Đầu bếp có nhiều kinh nghiệm</a></h5>
                  <p>
                    Đầu bếp đặt tâm huyết vào từng món ăn, giúp cho món ăn đạt chất lượng tốt nhất.

                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="single-services active text-center mb-30">
                <div class="services-ion">
                  <span class="flaticon-tools-and-utensils-1"></span>
                </div>
                <div class="services-cap">
                  <h5><a href="#">Chất lượng món ăn</a></h5>
                  <p>
                    Những nguyên liệu để thực hiện món ăn được chọn lọc một cách kỹ lưỡng. Chất lượng được đặt lên hàng đầu tại Order Food App.

                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="single-services text-center mb-30">
                <div class="services-ion">
                  <span class="flaticon-restaurant"></span>
                </div>
                <div class="services-cap">
                  <h5><a href="#">Đáp ứng nhu cầu khách hàng</a></h5>
                  <p>
                    Chúng tôi luôn luôn lắng nghe nhu cầu khách hàng khi gọi món ăn, và sẽ đáp ứng nhu cầu của khách hàng

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Our Services End -->
      <!--? About-3 Start -->
      <div
        class="about-area3 pt-180 pb-170 section-bg"
        data-background="assets/img/gallery/section_bg03.png"
      >
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-xl-6 col-lg-6 col-md-9 col-sm-11">
              <!-- Section Tittle -->
              <div class="section-tittle section-tittle2 mb-40">
                <span>Đăng ký nhận thông tin khuyến mãi</span>
                <h2>Khuyến mãi tháng 12</h2>
                <p>
                  MỪNG KHAI TRƯƠNG QUÁN VÀO THÁNG 12, MỌI THỨC ĂN TRONG MENU ĐƯỢC GIẢM 50%

                </p>
              </div>
              <!--Hero form -->
              <form action="#" class="search-box">
                <div class="input-form">
                  <input type="text" placeholder="Your Email" />
                </div>
                <div class="search-form">
                  <button>ĐĂNG KÝ NGAY</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- About-3 End -->
      <!--? Blog Area Start -->
      <section class="blogs-area section-padding30">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <!-- Section Tittle -->
              <div class="section-tittle text-center mb-70">
                <span>Tin tức mới</span>
                <h2>Tin Mới</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="single-blogs mb-100">
                <div class="blog-img">
                  <img src="../assets/img/gallery/ff3.jpg" alt="" />
                </div>
                <div class="blog-cap">
                  <span class="color1">19/10/2020</span>
                  <h4>
                    <a href="#"
                      >Khoai tây chuẩn vị đậm đà</a
                    >
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-blogs mb-100">
                <div class="blog-img">
                  <img src="../assets/img/gallery/ff5.png" alt="" />
                </div>
                <div class="blog-cap">
                  <span class="color1">19/10/2020</span>
                  <h4>
                    <a href="#"
                      >Burger đĩa bay</a
                    >
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-blogs mb-100">
                <div class="blog-img">
                  <img src="../assets/img/gallery/ff7.png" alt="" />
                </div>
                <div class="blog-cap">
                  <span class="color1">19/10/2020</span>
                  <h4>
                    <a href="#"
                      >Hogdog Hàn Quốc</a
                    >
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Blog Area End -->
    </main>
    <footer>
      <!--? Footer Start-->
      <div
        class="footer-area section-bg"
        data-background="assets/img/gallery/section_bg02.png"
      >
        <div class="container">
          <div class="footer-top footer-padding">
            <div class="row d-flex justify-content-between">
              <div class="col-xl-4 col-lg-4 col-md-5 col-sm-8">
                <div class="single-footer-caption mb-50">
                  <!-- logo -->
                  <div class="footer-logo">
                    <a href="index.html"
                      ><img src="../assets/img/logo/logo5.png" alt=""
                    /></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-5 col-sm-6">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Đường dẫn</h4>
                    <ul>
                      <li><a href="/">Trang Chủ</a></li>
                      <li><a href="/about">Giới Thiệu</a></li>
                      <li><a href="/login">Món Ăn</a></li>
                      <li><a href="#">Hỗ Trợ</a></li>
                      <li><a href="#">Về Chúng Tôi</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-5 col-sm-6">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Admin</h4>
                    <ul>
                     
                      <li><a href="/login">Đăng nhập</a></li>
                      
                      
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Instagram -->
              <div class="col-xl-4 col-lg-4 col-md-5 col-sm-7">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Hình ảnh tiêu biểu</h4>
                  </div>
                  <div class="instagram-gellay">
                    <ul class="insta-feed">
                      <li>
                        <a href="#"
                          ><img
                            src="../assets/img/gallery/ff2.jpg"
                            alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#"
                          ><img
                            src="../assets/img/gallery/ff4.png"
                            alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#"
                          ><img
                            src="../assets/img/gallery/ff5.png"
                            alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#"
                          ><img
                            src="../assets/img/gallery/ff6.png"
                            alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#"
                          ><img
                            src="../assets/img/gallery/ff7.png"
                            alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#"
                          ><img
                            src="../assets/img/gallery/ff8.jpg"
                            alt=""
                        /></a>
                      </li>
                    </ul>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-xl-9 col-lg-8">
                <div class="footer-copy-right">
                  <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    Order Food App | Chúng tôi luôn lắng nghe bạn
                    <i class="fa fa-heart" aria-hidden="true"></i> và
                    <a href="https://colorlib.com" target="_blank">Cảm ơn và hẹn gặp lại</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  </p>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4">
                <!-- Footer Social -->
                <div class="footer-social f-right">
                  <span>Theo dõi</span>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a href="#"><i class="fas fa-globe"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top">
      <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="../assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="../assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="../assets/js/wow.min.js"></script>
    <script src="../assets/js/animated.headline.js"></script>
    <script src="../assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="../assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="../assets/js/jquery.nice-select.min.js"></script>
    <script src="../assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="../assets/js/contact.js"></script>
    <script src="../assets/js/jquery.form.js"></script>
    <script src="../assets/js/jquery.validate.min.js"></script>
    <script src="../assets/js/mail-script.js"></script>
    <script src="../assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="../assets/js/plugins.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
