<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trang Chủ</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400italic" rel="stylesheet" type="text/css">
    <link href="./css/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1><%= title %></h1>

    <a href="/login">Login</a>
    <a href="/users">List- user</a> 
    <a href="/about">About</a>
    <a href="/user">User</a>
    <a href="/product">Product</a>
    <a href="/hoadon">Hóa đơn</a>
    <a href="/loaiproduct">Loại sản phẩm</a>
    <!-- <a href="/edituser">Edit User</a>
    <a href="/editmonan">Edit Món Ăn</a>
    <a href="/editloaimonan">Edit Loại Món Ăn</a>
    <a href="/edithoadon">Edit Hóa Đơn</a>
    <a href="/deletemonan">Xóa Món Ăn</a> -->
  </body>
</html>