<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loại món ăn</title>



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../css/car.css">



    <!-- DataTables link -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">




    <style>
        table.dataTable {
            border-collapse: collapse !important;
        }
    </style>

</head>

<body>

    <div class="container-fluid header-web">

    </div>


    <div class="body-web">
        <div class="menuVertical vertical-menu">
            <div class="py-4 px-3 bg-light">
                <div class="media d-flex align-items-center">
                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..."
                        width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                    <div class="media-body">
                        <h4 class="m-0">Admin</h4>
                        <p class="font-weight-light text-muted mb-0"> Nguyễn Cao Minh</p>
                    </div>
                </div>
            </div>


            <ul class="nav flex-column">

                <div class="classHome">
                    <i class="fab fa-themeco"></i>
                    <a class=" active-column " href="/">Trang Chủ</a>
                </div>
                <li class="nav-item">

                    <a class="nav-link" href="/product">Món ăn</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="/loaiproduct">Loại món ăn</a>
                </li>
                <div class="classHome">
                    <i class="fas fa-users "></i>
                    <p class=" active-column " href="#">Khách hàng</p>
                </div>
                <li class="nav-item">
                    <i class="fas fa-user-tie icon-blue"></i>
                    <a class="nav-link" href="/user">User</a>
                </li>

                <li class="nav-item">
                    <i class="fas fa-user-tie icon-blue"></i>
                    <a class="nav-link" href="/hoadon">Hóa đơn</a>
                </li>

            </ul>

        </div>

        <div class="contents">
            <div class="contents-title">
                <h2>Loại món ăn</h2>
                <div class="button-add" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                    Thêm loại món
                </div>
            </div>

            <!-- <div class="information">
                <div class="textTitle">Client Names</div>
                <div class="textTitle">Email</div>
                <div class="textTitle">Delete</div>
                <div class="textTitle">Update</div>

            </div> -->

            <table id="table" class="table table-striped table-bordered" style="width:100%">

                <thead>
                    <tr>
                        <th>Ảnh loại món ăn</th>
                        <th>Mã loại món ăn</th>
                        <th>Tên loại món ăn</th>
                        <th>Sửa</th>
                        <th>Xóa</th>
                        <!-- <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th> -->

                    </tr>
                </thead>

                <tbody>
                    <% pros1.forEach(function(item){ %>
                    <tr>
                        <td style="width: 20%;">

                            <img src="<%= item.hinh %>" alt="" style="width: 100%; height: 8rem;">

                        </td>
                        <td class="tcenter"><%= item.id %></td>
                        <td class="tcenter"><%= item.ten %></td>
                        <td class="tcenter">
                            <span class="table-edit">


                                <button type="button" style="width: 5rem; "
                                    class="btn btn-primary btn-rounded btn-sm my-0 "
                                    onclick="location.href='/editloaimonan/<%= item.id %>'">Sửa</button>
                            </span>
                        </td>
                        <td class="tcenter">
                            <span class="table-remove">
                                <button type="button" style="width: 5rem; "
                                    class="btn btn-danger btn-rounded btn-sm my-0 "
                                    onclick="location.href='/deleteCarUser/'">Xóa</button>
                            </span>
                        </td>

                    </tr>
                    <% }); %>

                </tbody>

                <tfoot>
                    <tr>

                        <!-- <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th> -->
                    </tr>

                </tfoot>

            </table>


        </div>


    </div>


    <!-- display modal add information user-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết loại món ăn</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/insertLoaiProduct" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label"> Mã loại món ăn :</label>
                            <input type="text" class="form-control" id="recipient-name" name="MaLoaiMonAn">
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label"> Tên loại món ăn:</label>
                            <textarea class="form-control" id="message-text" name="TenLoaiMonAn"></textarea>
                        </div>
                        <label for="recipient-name" class="col-form-label">Ảnh loại món ăn:</label>
                        <br>
                        <input type="file" name="myImage" accept="image/*">

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Thêm</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- display modal edit information user -->

    <!-- <div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Clients</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  
                    <form action="/edit" method="POST"   autocomplete="off" >
                        <input type="hidden" name="_id" value="" />
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label"> Edit Client Name:</label>
                            <input type="text" class="form-control" id="recipient-name" name="name" value="">
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label"> Email:</label>
                            <input type="text" class="form-control" id="recipient-name" name="email" >
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label"> Password:</label>
                            <input type="text" class="form-control" id="recipient-name" name="password"  >
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label"> Information:</label>
                            <textarea class="form-control" id="message-text" name="information" ></textarea>
                        </div>

                       <form method="post" enctype="multipart/form-data" action="/uploadphoto"> -->
    <!-- <input type="file" name="myImageEdit" accept="image/*" > -->

    <!-- <input type="submit" value="Upload Photo"> -->
    <!-- <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Edit Client</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </form>


                </div>

            </div>
        </div>
    </div> -->


</body>

<!-- icon fontawesome -->
<script src="https://kit.fontawesome.com/a1aabf7538.js" crossorigin="anonymous"></script>

<!-- link script -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>


<!-- DataTables script -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="/javascript/table.js"></script>

<script>
    $(document).ready(function () {
        $('#table').DataTable();

    });

    var oTable = $('#table').dataTable({
        "aoColumnDefs": [{
            "bSortable": false,
            "aTargets": [3, 4]
        },

        ]
    });
</script>

</html>