<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Login</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../assets/img/logo/logo5.png"
    />

    <!-- CSS here -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/owl.carousel.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../assets/css/slicknav.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/gijgo.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/animate.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/magnific-popup.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/fontawesome-all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/themify-icons.css"
    />
    <link rel="stylesheet" type="text/css" href="../assets/css/slick.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/nice-select.css"
    />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/login.css" />
   
    <script>
      function startTime() {
        var today = new Date();
        var d = today.getDay();
        var dd = today.getDate();
        var mm = today.getMonth()+1;
        var yy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML =
        "Thứ "+d+", "+"ngày "+ dd + " tháng "+ mm + " năm " +yy + " | " + h + ":" + m + ":" + s;

        var t = setTimeout(startTime, 500);
      }
      function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
      }
      </script>
  </head>
  <body onload="startTime()">
    <!--? Preloader Start -->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
            <img src="../assets/img/logo/logo5.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- Preloader Start -->
    <header>
      <!--? Header Start -->
      <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                
                <div class="logo">
                  <a href="#"
                    ><img src="../assets/img/logo/logo5.png" alt="logo" 
                  /></a>
                </div>
                <h5 class="card-title text-center">
                  <b>Đăng nhập với tư cách Admin</b>
                </h5>

               <!-- <label style="margin-top:4 0px;">Thời gian</label> -->
                <div id="txt" style="color:red;margin-left: 30px;margin-top: 30px;font-weight: bold;" ></div>
                <br>
                <form class="form-signin" action="/postLogin" method="POST" enctype="multipart/form-data">
                  <div class="form-label-group">
                    <input
                      type="text"
                      id="inputEmail"
                      class="form-control"
                      placeholder="Email address"
                      required=""
                      autofocus=""
                      name="emailLogin"
                    />
                    <label
                      for="inputEmail"
                      onclick="document.getElementById('inputEmail').focus();"
                      >Email</label
                    >
                  </div>

                  <div class="form-label-group">
                    <input
                      type="password"
                      id="inputPassword"
                      class="form-control"
                      placeholder="Password"
                      required=""
                      name="passLogin"
                    />
                    <label
                      for="inputPassword"
                      onclick="document.getElementById('inputPassword').focus();"
                      >Mật khẩu</label
                    >
                  </div>

                  <!-- <div class="custom-control custom-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck1"
                    />
                    <label class="custom-control-label" for="customCheck1"
                      >Nhớ mật khấu</label
                    >
                  </div> -->
                  <button
                    class="btn btn-lg btn-primary btn-block text-uppercase"
                    type="submit"
                  >
                    Đăng nhập
                  </button>
                  <hr class="my-4" />
                  <button
                    class="btn btn-lg btn-google btn-block text-uppercase"
                    type="button"
                    data-dismiss="modal"
                    onclick="location.href='/'"
                  >
                    Trở về
                  </button>
                  <!-- <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
                  <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header End -->
    </header>
   
      <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <!-- <div id="back-top">
      <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div> -->

    <!-- JS here -->

    <script src="../assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="../assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="../assets/js/wow.min.js"></script>
    <script src="../assets/js/animated.headline.js"></script>
    <script src="../assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="../assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="../assets/js/jquery.nice-select.min.js"></script>
    <script src="../assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="../assets/js/contact.js"></script>
    <script src="../assets/js/jquery.form.js"></script>
    <script src="../assets/js/jquery.validate.min.js"></script>
    <script src="../assets/js/mail-script.js"></script>
    <script src="../assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./assets/js/plugins.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
